*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#07111f;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#0b1728;
    border-bottom:1px solid rgba(0,195,255,0.2);
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#00c3ff;
}

nav a{
    text-decoration:none;
    color:white;
    margin-left:25px;
    font-weight:bold;
}

nav a:hover{
    color:#00c3ff;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:80px;
    color:#00c3ff;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#c9dfff;
    max-width:700px;
    margin-bottom:35px;
}

.search-box{
    display:flex;
    background:#0d1c30;
    border-radius:50px;
    overflow:hidden;
}

.search-box input{
    padding:18px;
    width:350px;
    border:none;
    outline:none;
    background:transparent;
    color:white;
}

.search-box button{
    padding:18px 30px;
    border:none;
    background:#00c3ff;
    color:black;
    font-weight:bold;
}

.recommendation{
    padding:90px 40px;
    text-align:center;
}

.recommendation h2{
    font-size:45px;
    margin-bottom:50px;
    color:#00c3ff;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    background:#0d1c30;
    width:320px;
    border-radius:20px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card-content{
    padding:25px;
}

.card-content h3{
    color:#00c3ff;
    margin-bottom:15px;
}

.card-content p{
    color:#c9dfff;
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    padding:12px 22px;
    background:#00c3ff;
    color:black;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:80px 30px;
}

.title{
    text-align:center;
    margin-bottom:60px;
}

.title h1{
    font-size:60px;
    color:#00c3ff;
}

.box{
    background:#0d1c30;
    padding:40px;
    border-radius:20px;
    margin-bottom:35px;
}

.box h2{
    color:#00c3ff;
    margin-bottom:20px;
}

.box p{
    color:#c9dfff;
    line-height:1.8;
}

.team{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:30px;
}

.member{
    background:#132743;
    padding:25px;
    width:250px;
    border-radius:15px;
    text-align:center;
}

footer{
    background:#050b14;
    color:#8db8ff;
    text-align:center;
    padding:25px;
    margin-top:50px;
}